verilerin içinde aykırıları çıakrma

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('cleaned_data.csv')

In [ ]:
print(df.info())

    location   districk              neighborhood  room  living_room  area  \
0  İstanbul    Sarıyer                 Huzur Mah.     2            1   100
1  İstanbul    Üsküdar    Aziz Mahmut Hüdayi Mah.     3            1    80
2  İstanbul    Kadıköy              Acıbadem Mah.     2            1   110
3  İstanbul     Beykoz               Göztepe Mah.     3            1   130
4  İstanbul    Sarıyer         Rumeli Kavağı Mah.     4            1   160

   age  floor  price
0    0      2  41000
1   45      2  32000
2    3      3  47000
3   25      3  18000
4   49      3  50000

In [5]:
df['location'] = df['location'].astype('category')
df['districk'] = df['districk'].astype('category')
df['neighborhood'] = df['neighborhood'].astype('category')
df['room'] = df['room'].astype('int')
df['living_room'] = df['living_room'].astype('int')
df['area'] = df['area'].astype('int')
df['age'] = df['age'].astype('int')
df['floor'] = df['floor'].astype('int')
df['price'] = df['price'].astype('int')

In [6]:
colums =df.select_dtypes(include=[np.number]).columns
min_values = []
max_values = []
for col in colums:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    min_value = Q1 - 1.5 * IQR
    max_value = Q3 + 1.5 * IQR
    min_values.append(min_value)
    max_values.append(max_value)
    print(f"Column: {col}, min: {min_value}, max: {max_value}")

Column: room, min: 0.5, max: 4.5
Column: living_room, min: 1.0, max: 1.0
Column: area, min: -10.0, max: 230.0
Column: age, min: -32.5, max: 67.5
Column: floor, min: -3.5, max: 8.5
Column: price, min: -32500.0, max: 107500.0

harici verileri temizleeme

In [8]:
for i, col in enumerate(colums):
    df = df[(df[col] >= min_values[i]) & (df[col] <= max_values[i])]

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 7327 entries, 0 to 9989
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   location      7327 non-null   category
 1   districk      7327 non-null   category
 2   neighborhood  7327 non-null   category
 3   room          7327 non-null   int32
 4   living_room   7327 non-null   int32
 5   area          7327 non-null   int32
 6   age           7327 non-null   int32
 7   floor         7327 non-null   int32
 8   price         7327 non-null   int32
dtypes: category(3), int32(6)
memory usage: 279.8 KB
None

In [10]:
print(df.describe())

              room  living_room         area          age        floor  \
count  7327.000000       7327.0  7327.000000  7327.000000  7327.000000
mean      2.074655          1.0   100.625768    20.031254     2.486147
std       0.773765          0.0    33.292292    13.688173     1.866787
min       1.000000          1.0    10.000000     0.000000    -3.000000
25%       2.000000          1.0    75.000000     7.000000     1.000000
50%       2.000000          1.0    95.000000    20.000000     2.000000
75%       3.000000          1.0   120.000000    30.000000     4.000000
max       4.000000          1.0   230.000000    65.000000     8.000000

               price
count    7327.000000
mean    31258.601338
std     18233.292997
min       700.000000
25%     19000.000000
50%     25000.000000
75%     38000.000000
max    105000.000000

In [11]:
#minimum kira fiyatı düzeltmesi 700 tl tziyo--
df = df[df['price'] >= 5000]
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 7313 entries, 0 to 9989
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   location      7313 non-null   category
 1   districk      7313 non-null   category
 2   neighborhood  7313 non-null   category
 3   room          7313 non-null   int32
 4   living_room   7313 non-null   int32
 5   area          7313 non-null   int32
 6   age           7313 non-null   int32
 7   floor         7313 non-null   int32
 8   price         7313 non-null   int32
dtypes: category(3), int32(6)
memory usage: 279.4 KB
None

In [12]:
print(df.describe())

              room  living_room         area          age        floor  \
count  7313.000000       7313.0  7313.000000  7313.000000  7313.000000
mean      2.074935          1.0   100.619445    20.032682     2.487488
std       0.773690          0.0    33.257573    13.694698     1.867577
min       1.000000          1.0    10.000000     0.000000    -3.000000
25%       2.000000          1.0    75.000000     7.000000     1.000000
50%       2.000000          1.0    95.000000    20.000000     2.000000
75%       3.000000          1.0   120.000000    30.000000     4.000000
max       4.000000          1.0   230.000000    65.000000     8.000000

               price
count    7313.000000
mean    31312.125393
std     18209.545802
min      5000.000000
25%     19000.000000
50%     25000.000000
75%     38000.000000
max    105000.000000

In [13]:
df.to_csv('cleanedManuel_data.csv', index=False)